.form-control{
    padding: 10px;
}

.form-control label{
    font-size: 20px;
}

.form-control input{
    width: 50%;
    font-size: 16px;
    padding: 8px;
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid;
}

.form-control input:focus{
    background-color: rgb(212, 245, 222);
    border: 1px solid green;
}

.form-actions{
    text-align: right;
    padding: 0px 50px;
}

.form-actions button{
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #28A745;
    color: white;
}

.invalid input {
    background-color: rgb(243, 198, 198);
    border: 1px solid rgb(216, 32, 32);
}

.invalid input:focus{
    background-color: rgb(233, 225, 190);
    border: 1px solid rgb(243, 220, 17);
}

/* .show-error{
    background-color: rgb(243, 198, 198);
    border: 1px solid rgb(216, 32, 32);
    visibility: visible;

}

.form-control-error input:focus{
    background-color: rgb(243, 198, 198);
    border: 1px solid rgb(216, 32, 32);
} */