.form-control{
    padding: 10px;
}

.form-control label{
    font-size: 20px;
}

.form-control input{
    font-size: 16px;
    padding: 8px;
    margin-left: 20px;
    border-radius: 5px;
}
.form-actions{
    text-align: right;
    padding: 0px 50px;
}

.form-actions button{
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: #28A745;
    color: white;
}
